.admin-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.admin-page-p {
  font-size: 2rem;
  margin: auto;
  text-transform: capitalize;
  & > span {
    font-size: 1.5rem;
  }
}
.vip-status {
  min-width: 120.5px;
  min-height: 44.4px;
  margin-top: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2em;
  cursor: pointer;
  text-transform: capitalize;
  background-color: white;
  color: blue;
}
.btn-see-blocked {
  color: white;
  background-color: rgb(160, 69, 69);
  border: none;
  margin-top: 1rem;
}
.admin-block-list-div {
  width: 9em;
  max-height: 4rem;
  display: flex;
  justify-content: space-around;
  & > .admin-block-list-p {
    text-transform: capitalize;
  }
  & > .admin-block-list-image {
    width: 2em;
  }
}
