.footer,
.img {
  text-align: center;
  height: 30px;
  margin-left: 20px;
}
.copyright {
  color: #4719b3;
  font-size: 1.5rem;
  text-align: center;
}
.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.card-img-top {
  min-height: 286px !important;
}
