.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 60%;
  align-self: center;
  margin: 9em auto;
}

.btns-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > .user-btns-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  & > .admin-btn {
  }
}
