.users-container {
  border-radius: 10px;
  background-color: red;
  margin-bottom: 3rem;
  width: 10rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  min-height: 13em;
  & > div > img {
    width: 45%;
    margin: 1rem auto;
    border-radius: 50%;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ul {
  text-align: center;
  padding-left: 0;
}
li {
  list-style: none;
  font-size: 1.4rem;
  margin: auto;
  text-align: center;
}

.link {
  text-decoration: none;
  color: rgb(236, 237, 245);
  font-size: 1em;
  &:hover {
    color: black;
  }
}

.users {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: auto;
  & > .vip-alert-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(48, 48, 68);
    position: absolute;
    width: 50%;
    height: 50%;
    & > .vip-alert-message {
      background: linear-gradient(
        to right,
        #ff0000 0%,
        #ff7f00 25%,
        #0000ff 50%,
        #00ff00 75%
      );
      color: white;
      font-size: 2rem;
    }
    & > .vip-alert-btns-div {
      width: 50%;
      display: flex;
      align-self: center;
      justify-content: space-around;
      & > .vip-alert-btn-return,
      .vip-alert-btn-get-vip {
        background-color: red;
        width: 40%;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 10px;
        transition: 0.5s;
        &:hover {
          background-color: rgb(231, 60, 60);
        }
      }
      & .vip-alert-btn-get-vip {
        background-color: greenyellow;
        &:hover {
          background-color: rgb(162, 218, 78);
        }
      }
    }
  }
}
.min-height {
  min-height: 40%;
}

.block-alert-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: rgb(48, 48, 68);
  position: absolute;
  width: 50%;
  height: 50%;
  & > .block-alert-message {
    color: white;
    font-size: 2rem;
  }
  & > .block-alert-btns-div {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: space-around;
    & > .block-alert-btn-return,
    .block-alert-btn-block {
      background-color: red;
      width: 40%;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        background-color: rgb(231, 60, 60);
      }
    }
    & .block-alert-btn-block {
      background-color: greenyellow;
      &:hover {
        background-color: rgb(162, 218, 78);
      }
    }
  }
}
.fav {
  @extend .users;
  display: flex;

  width: 100%;
}
