.my-profile {
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  width: fit-content;
  width: 100%;
}
.user-container {
  border-radius: 10px;
  background-color: red;
  margin-bottom: 3rem;
  width: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  max-height: 10rem;
  & > div > img {
    width: 40%;
    margin: 1rem auto;
    border-radius: 50%;
  }
}
.my-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-card-link {
  margin: auto;
  text-decoration: none;
  color: rgb(30, 30, 31);
  font-size: 1em;
  &:hover {
    color: black;
  }
}
.my-ul {
  text-align: center;

  padding-left: 0;
  & > li {
    list-style: none;
    font-size: 1em;

    text-align: center;
  }
}
.delete-alert-box {
  width: 90vh;
  height: 40vh;
  background-color: rgb(247, 3, 3);
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  top: 30vh;
  left: 50vh;
  & > .delete-alert-box-p {
    font-size: 4rem;
    color: rgb(10, 8, 8);
  }
  & > .delete-alert-link-container {
    display: flex;
    align-items: center;
  }
}
.delete-alert-link-delete {
  @extend .my-card-link;
  color: rgb(19, 17, 17);
  font-size: 2rem;
}

.delete-alert-link-back {
  @extend .my-card-link;
  color: rgb(10, 194, 40);
  font-size: 3rem;
}
