.my-profile {
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  width: fit-content;
  width: 100%;
}
.user-container {
  border-radius: 10px;
  background-color: red;
  margin-bottom: 3rem;
  width: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  max-height: 10rem;
  & > div > img {
    width: 40%;
    margin: 1rem auto;
    border-radius: 50%;
  }
}
.my-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > .link {
    text-decoration: none;
    color: rgb(30, 30, 31);
    font-size: 1em;
    &:hover {
      color: black;
    }
  }
}
.my-ul {
  text-align: center;

  padding-left: 0;
  & > li {
    list-style: none;
    font-size: 1em;

    text-align: center;
  }
}
